<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ion-card>
      <ion-card-content>
        <img src="assets/img/logo_fib_upc.png">
      </ion-card-content>
    </ion-card>

    <div *ngIf="isUserLogged == true">
      <ion-card>  
        <div id="over" style="position:relative; width:100%; height:100%">
          <img style="max-width:75px;" data-src="{{photo_url}}">
        </div>
        <ion-card-content>
          <ion-card-title>
            Welcome back, {{name}} {{surname}}
          </ion-card-title>

          User: {{username}} <br>
          Email: {{email}}<br><br>
          <button ion-button secondary (click)="logout()">Logout</button> 
        </ion-card-content>
      </ion-card>

      <ion-card>  
        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/ic_school.png">
          </ion-avatar>
          <h2>Classes d'avui</h2>

          <button ion-item *ngFor="let c of getTodayClasses()">
            {{c["codi_assig"]}} - {{c["tipus"]}}<br>
            {{c["inici"]}} - {{c["aules"]}}
          </button>
        </ion-item>
      </ion-card>

      <ion-card>  
        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/ic_alert.png">
          </ion-avatar>
          <h2>Ultims avisos</h2>

          <button ion-item *ngFor="let a of getUserAlertsToShow()">
            {{a["titol"]}}<br>
            {{a["grup"]}} - {{a["data_insercio"]}}
          </button>
        </ion-item>
      </ion-card>
    </div>

    <div *ngIf="isUserLogged == false">  
      <ion-card>
        <ion-card-header>
          Welcome guest
        </ion-card-header>

        <ion-card-content>
          Please, log in to get all the functionalities. 
          <br><br>
          <button ion-button secondary (click)="login()">Login</button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
